#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "loki"
name = "Loki + Promtail"
description.en = "Set of components that can be composed into a fully featured logging stack"
description.fr = "Ensemble de composants qui peuvent être composés pour former une pile de journalisation complète"

version = "3.6.4~ynh1"

maintainers = ["fflorent"]

[upstream]
license = "AGPL-3.0"
website = "https://grafana.com/docs/loki/latest/"
admindoc = "https://grafana.com/docs/loki/latest/"
code = "https://github.com/grafana/loki"
cpe = "cpe:2.3:a:grafana:loki"

[integration]
yunohost = ">= 11.2"
architectures = ["amd64", "armhf", "arm64"]
multi_instance = true

ldap = "not_relevant"

sso = "not_relevant"

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]

[resources]
    [resources.sources]
    [resources.sources.main]
    amd64.url = "https://github.com/grafana/loki/releases/download/v3.6.4/loki-linux-amd64.zip"
    amd64.sha256 = "51504261aebb494577698b0fd4c2ebc62138579d0c7b39f70281c9c4edff7394"
    armhf.url = "https://github.com/grafana/loki/releases/download/v3.6.4/loki-linux-arm.zip"
    armhf.sha256 = "d09eeb77725736362d0fa797ac10012b863bec3457f93274ba31cdb9899e255b"
    arm64.url = "https://github.com/grafana/loki/releases/download/v3.6.4/loki-linux-arm64.zip"
    arm64.sha256 = "1907725181f8054bab7106229495d4c13c1302525b83d1d7eaa941014ea833bc"
    in_subdir = false
    rename = "loki"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^loki-linux-amd64.zip$"
    autoupdate.asset.armhf = "^loki-linux-arm.zip$"
    autoupdate.asset.arm64 = "^loki-linux-arm64.zip$"

    [resources.sources.promtail]
    amd64.url = "https://github.com/grafana/loki/releases/download/v3.6.4/promtail-linux-amd64.zip"
    amd64.sha256 = "5c7ec2829978e704d6fb9eae3945c8ca392eff43841015555793275047db011a"
    armhf.url = "https://github.com/grafana/loki/releases/download/v3.6.4/promtail-linux-arm.zip"
    armhf.sha256 = "8669ba08843571b65629286e6f6d289f20f3cbe997b84f6c68c5d8f6ece5890d"
    arm64.url = "https://github.com/grafana/loki/releases/download/v3.6.4/promtail-linux-arm64.zip"
    arm64.sha256 = "e5635d2bb6c5cfae201aacb12708459f7b063ad738163e8aa9afce033666bab7"
    in_subdir = false
    rename = "promtail"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^promtail-linux-amd64.zip$"
    autoupdate.asset.armhf = "^promtail-linux-arm.zip$"
    autoupdate.asset.arm64 = "^promtail-linux-arm64.zip$"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]

    [resources.ports]
    http.default = 3100
    grpc.default = 9096
    promtail.default = 9080
