#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "loki"
name = "Loki + Promtail"
description.en = "Set of components that can be composed into a fully featured logging stack"
description.fr = "Ensemble de composants qui peuvent être composés pour former une pile de journalisation complète"

version = "3.6.3~ynh1"

maintainers = ["fflorent"]

[upstream]
license = "AGPL-3.0"
website = "https://grafana.com/docs/loki/latest/"
admindoc = "https://grafana.com/docs/loki/latest/"
code = "https://github.com/grafana/loki"
cpe = "cpe:2.3:a:grafana:loki"

[integration]
yunohost = ">= 11.2"
architectures = ["amd64", "armhf", "arm64"]
multi_instance = true

ldap = "not_relevant"

sso = "not_relevant"

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]

[resources]
    [resources.sources]
    [resources.sources.main]
    amd64.url = "https://github.com/grafana/loki/releases/download/v3.6.3/loki-linux-amd64.zip"
    amd64.sha256 = "c9a1c3e09ea5b703affc892ab3bd5190b0edcf398fddfc19a278ed533de2da6a"
    armhf.url = "https://github.com/grafana/loki/releases/download/v3.6.3/loki-linux-arm.zip"
    armhf.sha256 = "ba641f1657eb66a88331794147cfac7fdd9f5e07466eab7973a0aa58c67c647d"
    arm64.url = "https://github.com/grafana/loki/releases/download/v3.6.3/loki-linux-arm64.zip"
    arm64.sha256 = "c2ee9a18264b8680623c8a6ae228218d84d9ddc33d48c561675c1f9000d41a5d"
    in_subdir = false
    rename = "loki"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^loki-linux-amd64.zip$"
    autoupdate.asset.armhf = "^loki-linux-arm.zip$"
    autoupdate.asset.arm64 = "^loki-linux-arm64.zip$"

    [resources.sources.promtail]
    amd64.url = "https://github.com/grafana/loki/releases/download/v3.6.3/promtail-linux-amd64.zip"
    amd64.sha256 = "c4358b2bd100de441c33a0085ee62d6c944645240e08bec5a712171a8c99db4a"
    armhf.url = "https://github.com/grafana/loki/releases/download/v3.6.3/promtail-linux-arm.zip"
    armhf.sha256 = "1e7e2011de19b360bf5b6c077bdb52c35e8d97a9b7ee4f0b11be0cb991959c08"
    arm64.url = "https://github.com/grafana/loki/releases/download/v3.6.3/promtail-linux-arm64.zip"
    arm64.sha256 = "57504626820243e1aae057d4e8c1d8e75fb3dcba8491464ad6d5c6e60093e31a"
    in_subdir = false
    rename = "promtail"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^promtail-linux-amd64.zip$"
    autoupdate.asset.armhf = "^promtail-linux-arm.zip$"
    autoupdate.asset.arm64 = "^promtail-linux-arm64.zip$"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]

    [resources.ports]
    http.default = 3100
    grpc.default = 9096
    promtail.default = 9080
