#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "loki"
name = "Loki + Promtail"
description.en = "Set of components that can be composed into a fully featured logging stack"
description.fr = "Ensemble de composants qui peuvent être composés pour former une pile de journalisation complète"

version = "3.6.0~ynh1"

maintainers = ["fflorent"]

[upstream]
license = "AGPL-3.0"
website = "https://grafana.com/docs/loki/latest/"
admindoc = "https://grafana.com/docs/loki/latest/"
code = "https://github.com/grafana/loki"
cpe = "cpe:2.3:a:grafana:loki"

[integration]
yunohost = ">= 11.2"
architectures = ["amd64", "armhf", "arm64"]
multi_instance = true

ldap = "not_relevant"

sso = "not_relevant"

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]

[resources]
    [resources.sources]
    [resources.sources.main]
    amd64.url = "https://github.com/grafana/loki/releases/download/v3.6.0/loki-linux-amd64.zip"
    amd64.sha256 = "a172d50e38f8061c01c0cf51870fed5976fd1cbd55e6108f5098d9724178cee4"
    armhf.url = "https://github.com/grafana/loki/releases/download/v3.6.0/loki-linux-arm.zip"
    armhf.sha256 = "b612870090e14164ce0683e68732d940d9af505a45771338ff4a1db7a1e7807d"
    arm64.url = "https://github.com/grafana/loki/releases/download/v3.6.0/loki-linux-arm64.zip"
    arm64.sha256 = "c6b76b74706c8f3fa065b141f358e8de4f3f1608ab86e8441b7c400ff0ad6609"
    in_subdir = false
    rename = "loki"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^loki-linux-amd64.zip$"
    autoupdate.asset.armhf = "^loki-linux-arm.zip$"
    autoupdate.asset.arm64 = "^loki-linux-arm64.zip$"

    [resources.sources.promtail]
    amd64.url = "https://github.com/grafana/loki/releases/download/v3.6.0/promtail-linux-amd64.zip"
    amd64.sha256 = "81f3c8b57f25dce4ea04215c25f0b24bf19ce9941902718039bd74c3e439ad87"
    armhf.url = "https://github.com/grafana/loki/releases/download/v3.6.0/promtail-linux-arm.zip"
    armhf.sha256 = "4608528677a8e08ce44190ed090c72b950823734ec5ee5ad0855ef85c5be0c6a"
    arm64.url = "https://github.com/grafana/loki/releases/download/v3.6.0/promtail-linux-arm64.zip"
    arm64.sha256 = "510f31d4463b60d0163861e9e81b1f6b32f551a1cd317a96fe8536a020b59f69"
    in_subdir = false
    rename = "promtail"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^promtail-linux-amd64.zip$"
    autoupdate.asset.armhf = "^promtail-linux-arm.zip$"
    autoupdate.asset.arm64 = "^promtail-linux-arm64.zip$"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]

    [resources.ports]
    http.default = 3100
    grpc.default = 9096
    promtail.default = 9080
