#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "loki"
name = "Loki + Promtail"
description.en = "Set of components that can be composed into a fully featured logging stack"
description.fr = "Ensemble de composants qui peuvent être composés pour former une pile de journalisation complète"

version = "3.5.8~ynh1"

maintainers = ["fflorent"]

[upstream]
license = "AGPL-3.0"
website = "https://grafana.com/docs/loki/latest/"
admindoc = "https://grafana.com/docs/loki/latest/"
code = "https://github.com/grafana/loki"
cpe = "cpe:2.3:a:grafana:loki"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = ["amd64", "armhf", "arm64"]
multi_instance = true

ldap = "not_relevant"
sso = "not_relevant"

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]

[resources]
    [resources.sources]
    [resources.sources.main]
    amd64.url = "https://github.com/grafana/loki/releases/download/v3.5.8/loki-linux-amd64.zip"
    amd64.sha256 = "882c7dffb30a9e1ef6df4ee7c38e5f0fe3a4e20136b98ea89bce478bc4bb3491"
    armhf.url = "https://github.com/grafana/loki/releases/download/v3.5.8/loki-linux-arm.zip"
    armhf.sha256 = "d30004f41c3d581a7d216aae8bbe4fe0e5ef696de1a2bb134b9064d67e6424f1"
    arm64.url = "https://github.com/grafana/loki/releases/download/v3.5.8/loki-linux-arm64.zip"
    arm64.sha256 = "7e1b96f1d1eb94b775558bf5b1514cf462b13e83a9f01d76b90b6cfcd5d59f66"
    in_subdir = false
    rename = "loki"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^loki-linux-amd64.zip$"
    autoupdate.asset.armhf = "^loki-linux-arm.zip$"
    autoupdate.asset.arm64 = "^loki-linux-arm64.zip$"

    [resources.sources.promtail]
    amd64.url = "https://github.com/grafana/loki/releases/download/v3.5.8/promtail-linux-amd64.zip"
    amd64.sha256 = "1993d916c99b3830a5d03bf29ccb1e1d70488baa4e9226e9926d22d523446a0f"
    armhf.url = "https://github.com/grafana/loki/releases/download/v3.5.8/promtail-linux-arm.zip"
    armhf.sha256 = "395f13e2a71ca48e83ce84cb4e1f04d84840e60668f2745eb728f42769ccdd02"
    arm64.url = "https://github.com/grafana/loki/releases/download/v3.5.8/promtail-linux-arm64.zip"
    arm64.sha256 = "0d991f9cf04000e1ff089afffd0acb82d1623f30d5707784e51f4f929f31594e"
    in_subdir = false
    rename = "promtail"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^promtail-linux-amd64.zip$"
    autoupdate.asset.armhf = "^promtail-linux-arm.zip$"
    autoupdate.asset.arm64 = "^promtail-linux-arm64.zip$"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]

    [resources.ports]
    http.default = 3100
    grpc.default = 9096
    promtail.default = 9080
