#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "loki"
name = "Loki + Promtail"
description.en = "Set of components that can be composed into a fully featured logging stack"
description.fr = "Ensemble de composants qui peuvent être composés pour former une pile de journalisation complète"

version = "3.6.5~ynh1"

maintainers = ["fflorent"]

[upstream]
license = "AGPL-3.0"
website = "https://grafana.com/docs/loki/latest/"
admindoc = "https://grafana.com/docs/loki/latest/"
code = "https://github.com/grafana/loki"
cpe = "cpe:2.3:a:grafana:loki"

[integration]
yunohost = ">= 11.2"
architectures = ["amd64", "armhf", "arm64"]
multi_instance = true

ldap = "not_relevant"

sso = "not_relevant"

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]

[resources]
    [resources.sources]
    [resources.sources.main]
    amd64.url = "https://github.com/grafana/loki/releases/download/v3.6.5/loki-linux-amd64.zip"
    amd64.sha256 = "295dfa83fe5629178c481d95c634ab7ac221b1c8759064a4dd0f39076eb1d408"
    armhf.url = "https://github.com/grafana/loki/releases/download/v3.6.5/loki-linux-arm.zip"
    armhf.sha256 = "76f7e921e94cd57415e2b5982e4df2e0870063ef620d45bb3e604678aa9dfc29"
    arm64.url = "https://github.com/grafana/loki/releases/download/v3.6.5/loki-linux-arm64.zip"
    arm64.sha256 = "4972afb4a166a64571b1581d787ed8d3b2053e11ad77871b83382b4b171d64c8"
    in_subdir = false
    rename = "loki"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^loki-linux-amd64.zip$"
    autoupdate.asset.armhf = "^loki-linux-arm.zip$"
    autoupdate.asset.arm64 = "^loki-linux-arm64.zip$"

    [resources.sources.promtail]
    amd64.url = "https://github.com/grafana/loki/releases/download/v3.6.5/promtail-linux-amd64.zip"
    amd64.sha256 = "f9a3bbf9915c91e0032b91a651ce9c934d5fe564a2b8650978db2719c1068585"
    armhf.url = "https://github.com/grafana/loki/releases/download/v3.6.5/promtail-linux-arm.zip"
    armhf.sha256 = "c9d2071275547e9be2aefc8b4ecd0647afde94b883790aaf535b023756bde600"
    arm64.url = "https://github.com/grafana/loki/releases/download/v3.6.5/promtail-linux-arm64.zip"
    arm64.sha256 = "73afdc3b4f2cf3b67f945bcc1b9956d60e49b91dd0563e34241a7a555289c245"
    in_subdir = false
    rename = "promtail"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^promtail-linux-amd64.zip$"
    autoupdate.asset.armhf = "^promtail-linux-arm.zip$"
    autoupdate.asset.arm64 = "^promtail-linux-arm64.zip$"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]

    [resources.ports]
    http.default = 3100
    grpc.default = 9096
    promtail.default = 9080
